/*                */
/* OVERALL STYLES */
/*                */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  display: flex;

  font-family: "Lato", sans-serif;
  font-family: "Roboto", sans-serif;
  color: var(--text-color);
  background-color: var(--main-bg-color);

  overflow: hidden;
}

:root {
  --text-color: #1b1a19;
  --main-bg-color: #fac670;

  --fs-s: 2.8rem;
  /* --fs-sb: ; */
  --fs-m: clamp(1rem, 2vw + 1rem, 5rem);
  --fs-mb: clamp(1rem, 3vw + 1rem, 7rem);
  --fs-lb: 12.8rem;
  /* --fs-lb: clamp(1rem, 7vw + 1rem, 12.8rem); */
}

/*                */
/* GENERAL STYLES */
/*                */

a {
  text-decoration: none;
}

a:link,
a:visited {
  color: var(--text-color);
}

button:hover {
  cursor: pointer;

  border: none;
}

svg {
  width: var(--fs-mb);
  height: var(--fs-mb);
}

/*              */
/* LEFT SECTION */
/*              */

.left-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10rem;

  height: 100vh;
  width: 50vw;
  min-width: 75.4rem; /* Temprorary until dynamic support is added */

  padding: 5rem;
}

.left-section div:nth-child(1) {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-section div:nth-child(1) div {
  font-size: var(--fs-m);
  font-weight: 900;
  letter-spacing: -0.24rem;
}

.left-section div:nth-child(2) {
  width: 72rem;

  font-size: var(--fs-lb);
  font-weight: 900;
  letter-spacing: -0.5rem;
  line-height: 10.6rem;
}

/* @media (max-width: 991px) {
  .left-section div:nth-child(2) {
    width: 30rem;

    letter-spacing: -0.1rem;
    line-height: 4rem;
  }
} */

.left-section div:nth-child(2) span {
  color: #f37925;
}

.left-section div:nth-child(3) {
  width: 40rem;

  font-size: var(--fs-s);
}

/*               */
/* RIGHT SECTION */
/*               */

.right-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 1.2rem;

  width: 50vw;
  min-width: 75.4rem;

  background-color: var(--text-color);

  padding: 12rem 0 12rem 0;
}

.right-section button {
  position: relative;
  left: 0rem;

  width: 116.2rem;
  height: 18.2rem;

  color: #fff;

  padding-left: 4.2rem;

  border-radius: 2rem 0 0 2rem;

  transition: left 0.3s ease;
}

.right-section button:nth-child(1) {
  background-color: rgb(138, 187, 198);
}

.right-section button:nth-child(2) {
  background-color: var(--main-bg-color);
}

.right-section button:nth-child(3) {
  background-color: rgb(232, 213, 186);
}

.right-section button:nth-child(4) {
  background-color: rgb(233, 121, 69);
}

.right-section button:nth-child(5) {
  background-color: #ba97d0;
}

.right-section button:hover {
  left: 4rem;
}

.right-section button div {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 9.8rem;
  width: 9.8rem;

  background-color: rgba(0, 0, 0, 0.08);
  font-size: 2.8rem;
  border-radius: 1rem;
}
