.MainNav {
  background-color: antiquewhite;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5rem;

  padding: 0 1rem 0 1rem;
}

.MainNav form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.MainNav form input {
  width: 26.5rem;
  height: 3.5rem;

  font-size: 2rem;

  padding-left: 0.4rem;
  border: none;
}

.MainNav ul {
  display: flex;
  align-items: center;
  gap: 2rem;

  font-size: 2rem;

  margin-bottom: 0.3rem;
}

.MainNav li {
  list-style: none;
}
