footer {
  position: relative;

  background-color: var(--main-c-dark);
  height: 20rem;
}

/* ///////////////////////////////////////////////// */
/* ///////// Contact information                     */
/* ///////////////////////////////////////////////// */

.footer--contact-info {
  position: absolute;
  left: 50%;
  bottom: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  gap: 5rem;
}

.footer--contact-info-item:link,
.footer--contact-info-item:visited {
  color: var(--c-white);

  font-size: var(--fs-med-m);
  text-decoration: none;
}

.footer--contact-info-item:hover,
.footer--contact-info-item:active {
  text-decoration: underline;
  cursor: pointer;
}

/* ///////////////////////////////////////////////// */
/* ///////// Property Message                        */
/* ///////////////////////////////////////////////// */

.footer--property-msg {
  position: absolute;
  left: 50%;
  bottom: 0%;
  transform: translate(-50%, -50%);

  color: var(--c-white);
}
