:root {
  /* Font size */
  --fs-general: 62.5%;

  --fs-large-l: 5.4rem;
  --fs-large-m: 4rem;
  --fs-large-s: 3.6rem;
  --fs-med-l: 3rem;
  --fs-med-m: 1.4rem;
  --fs-med-s: 1rem;
  --fs-small-l: 0.7rem;

  /* Padding */
  --padding-browser-side: 3.6rem;

  /* Colors */
  --main-c-darkest: #0c0032;
  --main-c-dark: #190061;
  --main-c-light: #240090;
  --main-c-lightest: #3500d3;

  --c-white: #fffdfa;
  --c-black: #000;
  --c-gray: #808080;

  --c-rating-best: #57e32c;
  --c-rating-good: #b7dd29;
  --c-rating-okay: #ffe234;
  --c-rating-bad: #ffa534;
  --c-rating-worst: #ff4545;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: var(--fs-general);
}

body {
  font-family: "Inter", sans-serif;
  font-family: "Noto Sans", sans-serif;
  font-family: "Poppins", sans-serif;

  background-color: var(--main-c-darkest);
}
