nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12rem;

  background-color: var(--main-c-darkest);
  color: var(--c-white);

  height: 6rem;

  padding: 0 var(--padding-browser-side) 0 var(--padding-browser-side);
}

.nav-bar--btn {
  color: var(--c-white);

  min-width: max-content;

  font-size: var(--fs-med-m);
  text-transform: uppercase;

  background: none;
  border: none;
}

.nav-bar--btn:hover {
  cursor: pointer;
}

.nav-bar--left {
  display: flex;
  align-items: center;
  gap: 3.6rem;
}

.nav-bar--configs {
  display: flex;
  align-items: center;
  gap: 0.2rem;
}

.nav-bar--logo {
  font-size: var(--fs-large-s);
  font-weight: 600;
  letter-spacing: -0.2rem;
}

.nav-bar--configs-btn {
  padding: 1.3rem 1.1rem;
  border-radius: 10px;

  transition: background-color 0.3s ease-out;
}

.nav-bar--configs-btn:hover {
  background-color: rgba(109, 109, 110, 0.4);
}

.nav-bar--search-form {
  display: flex;
  gap: 0.8rem;

  margin-left: 0.9rem;
}

.nav-bar--search-bar {
  height: 3.6rem;
  width: 0rem;

  border: none;
  border-radius: 8px;

  overflow: hidden;

  transition: all 0.3s ease-out;
}

.nav-bar--search-bar-btn {
  background: none;
  border: none;
}

.nav-bar--search-bar-btn:hover {
  cursor: pointer;
}

.nav-bar--search-bar-icon {
  color: var(--c-white);

  height: 2.4rem;
  width: 2.4rem;
}

.nav-bar--right {
  display: flex;
  align-items: center;
  gap: 0.2rem;
}

.nav-bar--right-btn {
  font-weight: 700;

  padding: 1.3rem 2.6rem;
  border-radius: 12px;

  transition: background-color 0.3s ease-out;
}

.nav-bar--sign-in-btn:hover {
  background-color: rgba(109, 109, 110, 0.4);
}

.nav-bar--sign-up-btn {
  background-color: var(--main-c-lightest);
}

.nav-bar--sign-up-btn:hover {
  background-color: var(--main-c-light);
}
