nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12rem;

  background-color: var(--main-c-darkest);
  color: var(--c-white);

  height: 6rem;
  padding: 0 var(--padding-browser-side) 0 var(--padding-browser-side);
}

.nav-bar--logo {
  font-size: var(--fs-large-s);
  font-weight: 600;
  letter-spacing: -0.2rem;
}

.nav-bar--main-content {
  display: flex;
  align-items: center;
  gap: 2.4rem;
}

.nav-bar--search {
  display: flex;
  gap: 1.2rem;
}

.nav-bar--search-bar {
  height: 3.6rem;
  width: 0rem;
  border: none;
  border-radius: 8px;

  overflow: hidden;

  transition: all 0.3s ease-out;
}

.nav-bar--search-bar-btn {
  background: none;
  border: none;
}

.nav-bar--search-bar-btn:hover {
  cursor: pointer;
}

.nav-bar--search-bar-icon {
  color: var(--c-white);

  height: 2.4rem;
  width: 2.4rem;
}

.nav-bar--btn {
  background-color: var(--main-c-darkest);
  color: var(--c-white);

  min-width: max-content;
  font-size: var(--fs-med-m);
  text-transform: uppercase;
  border: none;
}

.nav-bar--btn:hover {
  cursor: pointer;
}

.nav-bar--movies:hover,
.nav-bar--shows:hover,
.nav-bar--sign-in-btn:hover {
  text-decoration: underline;
}

.nav-bar--sign-in-btn,
.nav-bar--sign-up-btn {
  font-weight: 700;
}

.nav-bar--sign-up-btn {
  background-color: var(--main-c-lightest);

  padding: 1.3rem 2.6rem 1.3rem 2.6rem;
  border-radius: 12px;

  transition: all 0.3s ease-out;
}

.nav-bar--sign-up-btn:hover {
  background-color: var(--main-c-light);
}
