.content-spotlight {
  position: relative;

  background-color: #000;

  height: 48rem;
}

.content-spotlight--slider {
}

.content-spotlight--main-content {
  position: absolute;
  top: 0;

  width: 100%;

  transition: transform 1s;
}

.content-spotlight--backdrop {
  height: 48rem;
  width: 100%;
  object-fit: cover;
}

.content-spotlight--text {
  position: absolute;

  color: var(--c-white);

  margin-left: var(--padding-browser-side-extra);
}

.content-spotlight--title {
  bottom: 7rem;

  font-size: var(--fs-large-l);
  font-weight: 600;
  text-transform: uppercase;
  text-shadow: 0 0 0.4rem var(--c-black);
}

.content-spotlight--more {
  bottom: 6rem;

  font-size: var(--fs-med-m);
  text-shadow: 0 0 0.4rem var(--c-black);
  padding-left: 0.18rem;
}

.content-spotlight--more:hover {
  cursor: pointer;
  text-decoration: underline;
}

.content-spotlight--overview {
  position: absolute;
  bottom: 0;

  background-color: rgba(0, 0, 0, 0.74);
  color: var(--c-white);

  height: 24rem;
  max-width: 55rem;
  padding: 1rem var(--padding-browser-side) 1rem var(--padding-browser-side);
  border-radius: 0 0.6rem 0 0;
}

.content-spotlight--overview > div:first-child {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content-spotlight--overview > div > div {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.content-spotlight--overview-rating {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--c-rating-okay);
  color: var(--c-black);

  width: 3rem;
  height: 2rem;
  font-size: var(--fs-med-m);
  font-weight: 600;
  border-radius: 0.3rem;
}

.content-spotlight--overview-back-btn {
  color: var(--c-white);

  width: 3.2rem;
  height: 3.2rem;
  border: none;
  background: none;
}

.content-spotlight--overview-back-btn:hover {
  cursor: pointer;
}

.content-spotlight--overview-back-btn-icon {
  width: 2.8rem;
  height: 2.8rem;
}

.content-spotlight--overview-title {
  font-size: var(--fs-large-m);
  font-weight: 600;
  text-transform: uppercase;
}

.content-spotlight--overview-date {
  position: relative;
  bottom: 0.8rem;

  margin-left: 0.1rem;
}

.content-spotlight--overview-genres {
  position: relative;
  bottom: 0.8rem;

  display: flex;

  margin-left: 0.04rem;
  margin-bottom: 1rem;
}

.content-spotlight--overview-description {
  display: -webkit-box;

  height: 11rem;
  width: 48rem;
  font-size: var(--fs-med-m);

  overflow: hidden;
  line-clamp: 5;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}

.content-spotlight--btn {
  position: absolute;
  z-index: 50;

  width: max-content;
  height: max-content;
  border: none;
  background: none;
}

.content-spotlight--btn:hover {
  cursor: pointer;
}

.content-spotlight--left-btn {
  bottom: 50%;
  left: 2.3%;
}

.content-spotlight--right-btn {
  bottom: 50%;
  right: 2.3%;
}

.content-spotlight--btn-icon {
  color: var(--c-white);

  width: 3.6rem;
  height: 3.6rem;
}

.content-spotlight--markers {
  position: absolute;
  bottom: 2%;
  right: 50%;

  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.content-spotlight--marker {
  /* background-color: var(--main-c-lightest); */
  background-color: var(--c-white);

  width: 0.8rem;
  height: 0.8rem;
  border-radius: 0.2rem;

  transition: all 0.3s ease-in;
}

.content-spotlight--marker-active {
  background-color: var(--main-c-lightest);

  width: 1.2rem;
  height: 1.2rem;
}
