.content-tracks {
  display: flex;
  flex-direction: column;
  gap: 5rem;

  padding: 0 var(--padding-browser-side) 0 var(--padding-browser-side);
  margin-bottom: 6rem;

  overflow: hidden;
}

.content-tracks--section {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  position: relative;

  background-color: burlywood;

  height: 19.6rem;
}

.content-tracks--section-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content-tracks--section-heading-title {
  color: var(--c-white);

  font-size: var(--fs-med-l);
  font-weight: 600;
}

.content-tracks--section-slider-markers {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.content-tracks--section-slider-marker {
  background-color: red;

  width: 2rem;
  height: 0.4rem;
}

.content-tracks--section-slider {
  background-color: red;

  display: flex;
  gap: 1.11rem;
  /* max-height: min-content; */

  /* white-space: nowrap; */
}

.content-tracks--section-slider-content {
  flex-shrink: 0;
  width: 25rem;
}

.content-tracks--section-slider-content:hover {
  cursor: pointer;
}

.content-tracks--section-slider-content-img {
  height: auto;
  max-width: 100%;

  border-radius: 4px;
}

.content-tracks--btn {
  position: absolute;
  z-index: 50;

  background: none;

  width: 3rem;
  height: 3rem;

  border: none;

  transition: transform 0.25s;
}

.content-tracks--btn:hover {
  cursor: pointer;

  transform: scale(1.3);
}

.content-tracks--left-btn {
  left: -2.5%;
  bottom: 38%;
}

.content-tracks--right-btn {
  right: -2.5%;
  bottom: 38%;
}

.content-tracks--btn-icon {
  color: var(--c-white);

  width: 3rem;
  height: 3rem;
}
