.content-tracks {
  padding: 0 var(--padding-browser-side) 0 var(--padding-browser-side);
  margin-bottom: 6rem;

  overflow: hidden;
}

.content-tracks--section {
  position: relative;

  background-color: burlywood;

  height: 19.6rem;
}

.content-tracks--section:not(:last-child) {
  margin-bottom: 5rem;
}

.content-tracks--section-heading {
  color: var(--c-white);

  font-size: var(--fs-med-l);
  font-weight: 600;

  margin-bottom: 0.5rem;
}

.content-tracks--section-slider {
  background-color: red;

  display: flex;
  gap: 1.11rem;
  /* max-height: min-content; */

  white-space: nowrap;
}

.content-tracks--section-slider-content {
  flex-shrink: 0;
  width: 25rem;
}

.content-tracks--section-slider-content:hover {
  cursor: pointer;
}

.content-tracks--section-slider-content-img {
  height: auto;
  max-width: 100%;

  border-radius: 4px;
}

.content-tracks--btn {
  position: absolute;
  z-index: 50;

  background: none;

  width: 3rem;
  height: 3rem;

  border: none;
}

.content-tracks--btn:hover {
  cursor: pointer;
}

.content-tracks--left-btn {
  left: -2.4%;
  bottom: 32%;
}

.content-tracks--right-btn {
  right: -2.4%;
  bottom: 32%;
}

.content-tracks--btn-icon {
  color: var(--c-white);

  width: 3rem;
  height: 3rem;
}
