/* ---- VARIABLES ---- */

:root {
  /* Font size */
  --general-fs: 62.5%;
  --fs-large: 3.6rem;

  /* Colors */
  --main-c-darkest: #0c0032;
  --main-c-dark: #190061;
  --main-c-light: #240090;
  --main-c-lightest: #3500d3;
  --c-white: #fff;
  --c-black: #000;
}

/* ---- HIGHEST LEVEL ---- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: var(--general-fs);
}

body {
  font-family: "Inter", sans-serif;
  font-family: "Noto Sans", sans-serif;
  font-family: "Poppins", sans-serif;
}
